@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.page {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-attachment: fixed;
}

.main-block {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  background-color: whitesmoke;
  background-size: cover;
  margin-top: 100px;
  width: 420px;
  height: 620px;
}

.button-change-img {
  margin-top: 30px;
  border: 1px solid #b5bdc2;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  font-family: 'Anton', sans-serif;
  font-size: 22px;
  padding:10px;
}

.button-change-img:hover {
  background-image: linear-gradient(to top, #9fa6aa 0%, #c3ccd1 100%);
  transition: 2s linear;
}

